<!DOCTYPE html>
<html>
	<head>
		<title>Blog App</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
	</head>
	
	<body>
	    
	    <div class="ui brown fixed inverted menu">
	        
	        <div class="ui container">
	        
	            <div class="header item"> <i class="fa fa-lg fa-rss-square" ></i><span style="margin-left:8px;">Blog Site</span></div>
	       
	           	<a href="/" class="item">Home</a>
	        
	            <a href="/blogs/new" class="item">New Post</a>
	            
	        </div>
	        
	    </div><br><br><br><br>

